<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodx">
        <activity android:name=".ProfileUser"></activity>
        <activity android:name=".RequestsActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ShareFoodActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".PendingActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".StartActivity3" />
        <activity android:name=".StartActivity2" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ChatView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>